In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./Movies dataset/imdb_top_1000.csv")

In [10]:
# print(df.to_string())
# print(df.info())
print(df.describe())
print(df.isnull().sum())

       IMDB_Rating  Meta_score   No_of_Votes
count  1000.000000  843.000000  1.000000e+03
mean      7.949300   77.971530  2.736929e+05
std       0.275491   12.376099  3.273727e+05
min       7.600000   28.000000  2.508800e+04
25%       7.700000   70.000000  5.552625e+04
50%       7.900000   79.000000  1.385485e+05
75%       8.100000   87.000000  3.741612e+05
max       9.300000  100.000000  2.343110e+06
Poster_Link        0
Series_Title       0
Released_Year      0
Certificate      101
Runtime            0
Genre              0
IMDB_Rating        0
Overview           0
Meta_score       157
Director           0
Star1              0
Star2              0
Star3              0
Star4              0
No_of_Votes        0
Gross            169
dtype: int64

In [ ]:
name = df[["Series_Title"]]
print(name.head(10))

                                    Series_Title
0                       The Shawshank Redemption
1                                  The Godfather
2                                The Dark Knight
3                         The Godfather: Part II
4                                   12 Angry Men
5  The Lord of the Rings: The Return of the King
6                                   Pulp Fiction
7                               Schindler's List
8                                      Inception
9                                     Fight Club

In [15]:
meta_score = df[["Meta_score"]]

In [16]:
meta_score.describe()

       Meta_score
count  843.000000
mean    77.971530
std     12.376099
min     28.000000
25%     70.000000
50%     79.000000
75%     87.000000
max    100.000000

In [29]:
meta_score = df['Meta_score']
q1 = meta_score.quantile(0.25)
q2= meta_score.quantile(0.5)
q3= meta_score.quantile(0.75)

iqr = q3 - q1 
# print(iqr)
lowerbound = q1 - 1.5  * iqr
upperbound = q3 + 1.5  * iqr

In [38]:
outliers = df[(meta_score < lowerbound) | (meta_score > upperbound)]
no_outliers = ((meta_score < lowerbound) | (meta_score > upperbound)).sum()

In [36]:
outliers.shape[0]

7

In [39]:
no_outliers

np.int64(7)

In [41]:
meta_score.isnull()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: Meta_score, Length: 1000, dtype: bool